*.pro
*.log
*.py[cod]
*.so
*~
*.swp
build/*
dist/*
pims.egg-info/*
pims/version.py
examples/.ipynb_checkpoints
pims/tests/data/bulk-water.mov.pims_buffer
pims/tests/data/bulk-water.mov.pims_meta

# pycharm IDE
.idea/
