*.pro
*.log
*.py[cod]
*.so
*~
*.swp
build/*
dist/*
pims.egg-info/*
PIMS.egg-info/*
pims/version.py
pims/loci_tools.jar
examples/.ipynb_checkpoints
pims/tests/data/bulk-water.mov.pims_buffer
pims/tests/data/bulk-water.mov.pims_meta
pims/tests/data/bioformats/10-31 E1.tif
pims/tests/data/bioformats/2chZT.lsm
pims/tests/data/bioformats/Blend_Final.IPL
pims/tests/data/bioformats/dnasample1.dm3
pims/tests/data/bioformats/HEART.SEQ
pims/tests/data/bioformats/KEVIN2-3*
pims/tests/data/bioformats/leica_stack*
pims/tests/data/bioformats/MF-2CH-Z-T.tif
pims/tests/data/bioformats/mitosis-test.ipw
pims/tests/data/bioformats/mouse-kidney.lif
pims/tests/data/bioformats/qdna1.ics
pims/tests/data/bioformats/qdna1.ids
pims/tests/data/bioformats/readme.txt
pims/tests/data/bioformats/wtembryo.mov
soft-matter-docs-deploy


# pycharm IDE
.idea/

MANIFEST

# docs
doc/build
sample_norpix5.seq
PIMS.egg-info/
