# These are required for developing the package (running the tests, building
# the documentation) but not necessarily required for _using_ it.
codecov
coverage
flake8
pytest
sphinx
twine
black
# These are dependencies of various sphinx extensions for documentation.
-r requirements-doc.txt
